[submodule "themes/hugo-theme-bootstrap"]
	path = themes/hugo-theme-bootstrap
	url = https://github.com/razonyang/hugo-theme-bootstrap
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt
[submodule "themes/docsy"]
	path = themes/docsy
	url = https://github.com/google/docsy
